@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");


body{
    background-color: aliceblue;
}
#todo{
    margin-top: 5%;
    margin-left: 20%;
    margin-bottom: 7%;
    top: 30;
    width: 70%;
    height: 300px;
    display: flex;
    justify-content: center;
}
#esquerdo{
    width: auto;
    height: 500px;
    background-color:hsl(31, 77%, 52%);
    padding:35px;
    border-top-left-radius: 3%;
    border-bottom-left-radius: 3%;
}
#direito{

    width: auto;
    height: 500px;
    background-color: hsl(179, 100%, 13%);
    padding: 35px;
    border-top-right-radius: 3%;
    border-bottom-right-radius: 3%;
}
#meio{
    width: auto;
    height: 500px;
    background-color:hsl(184, 100%, 22%);
    padding: 35px;
}
.title{
    font-family:"Big Shoulders Display", sans-serif;
    color: white;
}
.paragrafo{
    font-family: "Lexend Deca", sans-serif;
    color: white;
    font-size: 15;
}
#button{
    border-radius: 15px;
    color: hsl(184, 100%, 22%);;
    height: 40px;
    width: 50%;
    border-style: none;
}
@media screen and (max-width: 650px){
    #todo{
        display:block;
    }
    #esquerdo{
        background-color: grey;
    }
    #direito{
        background-color: beige;
    }
}